chardet==3.0.4
dj-database-url==0.5.0
Django==2.2.24
django-heroku==0.3.1
gunicorn==20.0.0
idna==2.8
mysql-connector-python==8.0.18
mysqlclient==1.4.5
pip==19.3.1
pipenv==2018.11.26
protobuf==3.10.0
psycopg2==2.8.4
pytz==2019.3
requests==2.22.0
setuptools==40.8.0
six==1.13.0
sqlparse==0.3.0
urllib3==1.25.7
virtualenv==16.7.7
virtualenv-clone==0.5.3
wheel==0.33.6
whitenoise==4.1.4
