{% extends 'base.html' %}

{% block title %}
    <title>Messages</title>
{% endblock %}

{% block menuTitle %}
    <h1 class="display-2"><b>Comment from Admin</b></h1>
{% endblock %}

{% block leftNavbar %}
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="{% url "admin" %}">Admin Page</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url "news" %}">News</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url "contact" %}">Contact</a>
        </li>
    </ul>
{% endblock %}

{% block container %}
    <h2 style="height:70px"></h2>
    <table class="table table-hover">
        <input class="form-control" id="myInput" type="text" placeholder="Search messages...">
        <thead>
        <tr>
            <th scope="col">Patient Name</th>
            <th scope="col">Doctor Name</th>
            <th scope="col">Messages</th>
        </tr>
        </thead>
        <tbody id="myTable">
        {% for comment in object_list %}


            <tr>
                <td scope="row">{{ comment.patient }}</td>
                <td scope="row">{{ comment.doctor }}</td>
                <td scope="row">{{ comment.message }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}